<!DOCTYPE HTML>
<html>
<head>
    <title>Build the future</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <!--[if lte IE 8]><script src='@routes.Assets.versioned("javascripts/ie/html5shiv.js")'></script><![endif]-->
    <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/main.css")' />
    <!--[if lte IE 9]><link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/ie9.css")' /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/ie8.css")'/><![endif]-->
</head>
<body>

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header" class="alt">
        <a href="index.html" class="logo"></a>
        <nav>
            <a href="#menu">Menu</a>
        </nav>
    </header>

    <!-- Menu -->
    <nav id="menu">
        <ul class="links">
            <li><a href="index.html">Home</a></li>
            <li><a href="landing.html">Landing</a></li>
            <li><a href="generic.html">Generic</a></li>
        </ul>
        <ul class="actions vertical">
            <li><a href="#" class="button special fit">Get Started</a></li>
            <li><a href="#" class="button fit">Log In</a></li>
        </ul>
    </nav>

    <!-- Banner -->
    <section id="banner" class="major">
        <div class="inner">
            <header class="major">
                <h1>Kobify</h1>
            </header>
            <div class="content">
                <p>Home page</p>
                <ul class="actions">
                    <li><a href="#one" class="button next scrolly">Get Started</a></li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Main -->
    <div id="main">

        <!-- One -->
        <section id="one" class="tiles">
            <article>
									<span class="image">
										<img src="images/pic01.jpg" alt="" />
									</span>
                <header class="major">
                    <h3><a href="view1.scala.html" class="link">View 1</a></h3>
                    <p>Description</p>
                </header>
            </article>
            <article>
									<span class="image">
										<img src="images/pic02.jpg" alt="" />
									</span>
                <header class="major">
                    <h3><a href="view2.scala.html" class="link">View 2</a></h3>
                    <p>Description</p>
                </header>
            </article>
            <article>
									<span class="image">
										<img src="images/pic03.jpg" alt="" />
									</span>
                <header class="major">
                    <h3><a href="view3.scala.html" class="link">View 3</a></h3>
                    <p>Description</p>
                </header>
            </article>
            <article>
									<span class="image">
										<img src="images/pic04.jpg" alt="" />
									</span>
                <header class="major">
                    <h3><a href="view4.scala.html" class="link">view 4</a></h3>
                    <p>Description</p>
                </header>
            </article>
            <article>
									<span class="image">
										<img src="images/pic05.jpg" alt="" />
									</span>
                <header class="major">
                    <h3><a href="view5.scala.html" class="link">view 5</a></h3>
                    <p>Description</p>
                </header>
            </article>
            <article>
									<span class="image">
										<img src="images/pic06.jpg" alt="" />
									</span>
                <header class="major">
                    <h3><a href="view6.scala.html" class="link">view 6</a></h3>
                    <p>Description</p>
                </header>
            </article>
            <article>
									<span class="image">
										<img src="images/pic05.jpg" alt="" />
									</span>
                <header class="major">
                    <h3><a href="view7.scala.html" class="link">view 7</a></h3>
                    <p>Description</p>
                </header>
            </article>
            <article>
									<span class="image">
										<img src="images/pic06.jpg" alt="" />
									</span>
                <header class="major">
                    <h3><a href="view8.scala.html" class="link">view 8</a></h3>
                    <p>Description</p>
                </header>
            </article>
            <article>
									<span class="image">
										<img src="images/pic05.jpg" alt="" />
									</span>
                <header class="major">
                    <h3><a href="view9.scala.html" class="link">view 9</a></h3>
                    <p>Description</p>
                </header>
            </article>
            <article>
									<span class="image">
										<img src="images/pic06.jpg" alt="" />
									</span>
                <header class="major">
                    <h3><a href="view10.scala.html" class="link">view 10</a></h3>
                    <p>Description</p>
                </header>
            </article>
        </section>

        <!-- Two -->
        <section id="two">
            <div class="inner">
                <header class="major">
                    <h2>iVolunteer</h2>
                </header>
                <p>Term Project for data base mangement system</p>
                <ul class="actions">
                    <li><a href="index.scala.html" class="button next">Get Started</a></li>
                </ul>
            </div>
        </section>

    </div>

    <!-- Contact -->
    <section id="contact">
        <div class="inner">
            <section>
                <form method="post" action="#">
                    <div class="field half first">
                        <label for="name">Name</label>
                        <input type="text" name="name" id="name" />
                    </div>
                    <div class="field half">
                        <label for="email">Email</label>
                        <input type="text" name="email" id="email" />
                    </div>
                    <div class="field">
                        <label for="message">Message</label>
                        <textarea name="message" id="message" rows="6"></textarea>
                    </div>
                    <ul class="actions">
                        <li><input type="submit" value="Send Message" class="special" /></li>
                        <li><input type="reset" value="Clear" /></li>
                    </ul>
                </form>
            </section>

        </div>
    </section>

    <!-- Footer -->
    <footer id="footer">
        <div class="inner">
            <ul class="icons">
                <li><a href="#" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
                <li><a href="#" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
            </ul>
            <ul class="copyright">
                <li>&copy; Untitled</li><li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
            </ul>
        </div>
    </footer>

</div>

<!-- Scripts -->
<script src='@routes.Assets.versioned("javascript/jquery.min.js")'></script>
<script src='@routes.Assets.versioned("javascript/jquery.scrolly.min.js")'></script>
<script src='@routes.Assets.versioned("javascript/jquery.scrollex.min.js")'></script>
<script src='@routes.Assets.versioned("javascript/skel.min.js")'></script>
<script src='@routes.Assets.versioned("javascript/util.js")'></script>
<!--[if lte IE 8]><script src='@routes.Assets.versioned("javascript/ie/respond.min.js")'></script><![endif]-->
<script src='@routes.Assets.versioned("javascript/main.js")'></script>

</body>
</html>