<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Search for an Artist Demo</title>

    <script type='text/javascript' src='/js/lib/dummy.js'></script>

    <link rel="stylesheet" type="text/css" href="/css/result-light.css">

    <script type='text/javascript' src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

    <script type='text/javascript' src="http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0-alpha.1/handlebars.min.js"></script>

    <link rel="stylesheet" type="text/css" href="https://developer.spotify.com/web-api/static/css/cached.css">


    <style type='text/css'>
    body {
    padding: 20px;
}
#search-form, .form-control {
    margin-bottom: 20px;
}
.track {
  margin-bottom: 10px;
}
.request-btn {
     font-size: 0.7em;
}

  </style>

    <script type='text/javascript'>//<![CDATA[
window.onload=function(){
// find template and compile it
var templateSource = document.getElementById('results-template').innerHTML,
    template = Handlebars.compile(templateSource),
    resultsPlaceholder = document.getElementById('results'),
    playingCssClass = 'playing',
    audioObject = null;

var searchAlbums = function (query) {
    $.ajax({
        url: 'https://api.spotify.com/v1/search',
        data: {
            q: query,
            type: 'track',
            limit: 20
        },
        success: function (response) {
            resultsPlaceholder.innerHTML = template(response);
        }
    });
};


results.addEventListener('click', function(e) {
    var target = e.target;
    if (target !== null && target.classList.contains('cover')) {
        if (target.classList.contains(playingCssClass)) {
            audioObject.pause();
        } else {
            if (audioObject) {
                audioObject.pause();
            }
            fetchTracks(target.getAttribute('data-album-id'), function(data) {
                audioObject = new Audio(data.tracks.items[0].preview_url);
                audioObject.play();
                target.classList.add(playingCssClass);
                audioObject.addEventListener('ended', function() {
                    target.classList.remove(playingCssClass);
                });
                audioObject.addEventListener('pause', function() {
                    target.classList.remove(playingCssClass);
               });
            });
        }
    }
});

document.getElementById('search-form').addEventListener('submit', function (e) {
    e.preventDefault();
    searchAlbums(document.getElementById('query').value);
}, false);

function addTrack(value)
{
alert("A");
}

}
</script>


</head>
<body>
<div class="container">



    <h1>Search for a track</h1>
    <form id="search-form">
        <input type="text" id="query" value="" class="form-control" placeholder="Type a track name, artist or album"/>
        <input type="submit" id="search" class="btn btn-primary" value="Search" />
    </form>
    <div id="results"></div>
</div>
<script id="results-template" type="text/x-handlebars-template">
    <h2>Results</h2>
    {{#each tracks.items}}
    <div class="track row">
        <div class="cover pull-left col-md-3">
            <img width="200px" src="{{album.images.1.url}}" />
             </div>
        <div class="songlink col-md-9">
            <h4>{{artists.0.name}} - {{name}}</h4>
            <p class="track-info">
                Album: {{album.name}}
            </p>
<form>
            <button type="button" id="addTrack" class="request-btn btn btn-primary" value="{{uri}}" name="Add to Playlist" onclick="addTrack();" />Add to Playlist</button>
</form>
        </div>
    </div>
    {{/each}}
</script>

</body>


</html>